body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.maxWrapper {
    min-height: 260px;
    margin: auto;
    max-width: 1300px;
    position: relative;
}

.heading {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.subheading,
p {
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 14px 0;
}

.banner {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .banner {
        margin-top: 80px;
        text-align: right;
        padding-right: 40%;
    }
}

.banner .mainImg {
    width: 80%;
    max-width: 800px;
    margin: 40px 0;
}

.subHero {
    background: #449495;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 100%;
    padding: 0 50% 40px;
    margin-left: -50%;
    position: relative;
    display: block;
    color: WHITE;
    /* overflow-x: inherit; */
    max-width: 100%;
    height: 300px;
}

.subHeroWrapper {
    overflow-x: hidden;
}

.subHeroInner {
    padding: 0 15px;
    margin-top: 5%;
}

@media only screen and (min-width: 500px) {
    .subHero {
        height: 400px;
    }
    .subHeroInner {
        padding: 30px;
        width: 50%;
        float: right;
    }
}

.subHeroImg {
    width: 20%;
    margin: 15px auto 0;
    display: block;
    position: relative;
}

@media only screen and (min-width: 500px) {
    .subHeroImg {
        width: 20%;
        margin: 76px 0 0 9%;
        display: inline-block;
    }
}
.contentCore {
    position: relative;
}

.contentCoreInner {
    margin: 40px;
}

.alertImg1 {
    margin-left: 40px;
    width: 30%;
}

.alertImg2 {
    margin-left: 20%;
    width: 30%;
}

@media only screen and (min-width: 936px) {
    .contentCoreInner {
        width: 50%;
        display: inline-block;
    }
    .alertImg1 {
        position: absolute;
        top: calc(50% - 114px);
        right: 320px;
        width: 140px;
    }

    .alertImg2 {
        position: absolute;
        top: calc(50% - 114px);
        right: 140px;
        width: 140px;
    }
}

.contentReporting {
    position: relative;
}

.gridImg {
    margin: 40px auto 0;
    display: block;
}

.contentReportingInner {
    padding: 40px;
}

@media only screen and (min-width: 698px) {
    .gridImg {
        position: absolute;
        left: 140px;
        top: calc(50% - 120px);
    }

    .contentReportingInner {
        width: 50%;
        display: inline-block;
        margin-left: 40%;
    }
}

.contentAlerting {
    position: relative;
}

.contentAlertingInner {
    margin: 40px;
}

.alertImg {
    margin: 40px auto;
    display: block;
    width: 120px;
}

@media only screen and (min-width: 698px) {
    .contentAlertingInner {
        width: 50%;
        display: inline-block;
    }

    .alertImg {
        position: absolute;
        right: 200px;
        display: inline-block;
        margin: 40px 0;
    }
}

footer {
    background: #449495;
    color: white;
    padding: 40px;
}

footer a:link,
footer a:visited {
    color: white;
    font-weight: 800;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

.disclaimer {
    font-size: 14px;
    color: #cccccc;
}

@media only screen and (min-width: 500px) {
    .subheading,
    p {
        font-size: 24px;
    }
}
